.login-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: lightblue;
}

.addlist-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 20px;
}

ul{
  padding-inline-start: 0px !important;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );
}

.form-wrapper {
  width: 1000px;
  height: 700px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: lightblue;
}

.form-label{
  font-size: 2.1em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
  padding-right: .5rem;
}

.input-style{
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.star{
  cursor:pointer;
  transition: color 200ms
}